
h1{
    color: rgb(102, 0, 0);
    border:  solid red;
    text-shadow: white;
}
h2{
    color: rgb(68, 68, 68);
    border:  dotted white;
}

body{
    background-color: rgb(0, 0, 0);
    background-image:  url(FTDalekTroyd.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;

}

p
{
border: solid red;
}
h1:hover
{ 
    color: red;
}
h1
{
color: rgb(97, 97, 97);
transition: color 1s;
}
body
{
    background-color: rgb(80, 80, 80);
}

h2:hover
{
    color: red;
}
h2
{
color: rgb(80, 80,80);
transition: 1s;
}
/* button
{
    color:  rgb(255, 0, 0);
    background-color: rgb(80, 80,80);
    box-shadow: 0 4px 6px  rgb(80, 80,80) ;
    
} */
.about
{
    /* transform: scale(1.5);
    transition: 1s; */
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
     /* box-shadow: 0 4px 6px rgb(255, 0, 0); */
     padding: 2% 4%;
     text-align: center;
     display: inline-block;
     border: solid;
     border-radius: 2%;
     

}
.links
{
    /* transform: scale(1.5);
    transition: 1s */
    
}
button
{
    transform: scale(.9);
}

p:hover
{
    color: red;
    transition: 1s;
}
p
{
    color:rgb(80, 80, 80);
}