<<<<<<< Updated upstream
h1{
    color: rgb(102, 0, 0);
    border:  solid red;
    text-shadow: white;
}
h2{
    color: rgb(68, 68, 68);
    border:  dotted white;
}
ul{
    color: #0c8d00;
}
body{
    background-color: rgb(0, 0, 0);
    background-image:  url(FTDalekTroyd.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;

}


li{
    color: blueviolet;
    border: solid rgba(255, 0, 0, 0.486);
    border-radius: 10px ;
}

th{
    color: aliceblue;
    border: dashed cyan;
}
td{
    color: #0c8d00;
    border: solid white;
=======

h1:hover
{ 
    color: red;
}
h1
{
color: rgb(0, 0, 0);
transition: color 1s;
}
body
{
    background-color: rgb(80, 80, 80);
}

h2:hover
{
    color: red;
}
h2
{
color: rgb(80, 80,80);
transition: 1s;
}
input[type=button]
{
    color:  rgb(80, 80,80);
    background-color: rgb(80, 80,80);
    box-shadow: 0 4px 6px  rgb(80, 80,80) ;
    
}
input[type=button]:hover
{
    transform: scale(1.5);
    transition: 1s;
    color: red;
    background-color: black;
     box-shadow: 0 4px 6px black;

}
input[type=button]:active
{
    transform: scale(.9);
}
link
{
color: rgb(80, 80, 80);
}
link:hover
{
color: red;
transition: 1s;
>>>>>>> Stashed changes
}