h1{
    color: rgb(102, 0, 0);
    border:  solid red;
    text-shadow: white;
}
h2{
    color: rgb(68, 68, 68);
    border:  dotted white;
}
ul{
    color: #0c8d00;
}
body{
    background-color: rgb(0, 0, 0);
    background-image:  url(FTDalekTroyd.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;

}


li{
    color: blueviolet;
    border: solid rgba(255, 0, 0, 0.486);
    border-radius: 10px ;
}

th{
    color: aliceblue;
    border: dashed cyan;
}
td{
    color: #0c8d00;
    border: solid white;
}