
h1{
    color: rgb(102, 0, 0);
    border:  ridge red;
    text-shadow: white;
    text-align: center;
}
h2{
    color: rgb(80, 80, 80);
    border:  dotted white;
    text-align: center;
     font-family: "Courier Prime", monospace;
     transition: 1s;
}

body
{
    background: linear-gradient(rgb(0, 0, 0), rgb(95, 0, 0), rgb(139, 0, 0));
    background-size: cover;
    background-attachment: fixed;
    

 
}


h1:hover
{ 
    color: red;
   
}
h1
{
color: rgb(80, 80,80);
transition: color 1s;
 font-family: "Courier Prime", monospace;
}


h2:hover
{
    color: red;
}

/* button
{
    color:  rgb(255, 0, 0);
    background-color: rgb(80, 80,80);
    box-shadow: 0 4px 6px  rgb(80, 80,80) ;
    
} */
.about
{
   
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    padding: 2% 4%;
    text-align: center;
    display: inline-block;
    border: solid;
    border-radius: 2%;
     

}
.Links
{

    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 2% 4%;
    text-align: center;
    display: inline-block;
    border: solid;
    border-radius: 2%;
}
.Blog
{
    
    color: rgb(117, 0, 121);
    background-color: rgb(0, 0, 0);
    padding: 2% 4%;
    text-align: center;
    display: inline-block;
    border: solid;
    border-radius: 2%;
}
button
{
    transform: scale(.9);
}

p:hover
{
    color: red;
    transition: 1s;
  
}
p
{
    color:rgb(80, 80, 80);
     font-family: "Courier Prime", monospace;
     font-weight: 700;
     border: solid red;
}

a:focus
{
    color: rgb(255, 255, 255)
}
a
{
    color: rgb(80, 80, 80);
}
a:hover
{
    color: red;
    transition: 1s;
}
h3
{
color: rgb(80, 80, 80);
 font-family: "Courier Prime", monospace;
}

h3:hover
{
    color: red;
    transition: 1s;
}
.FTDT
{
    color: red;
    border: dotted rgb(80, 80, 80);
    text-align: center;
}

.blog
{
    color: red;
    text-align: center;
    border: solid rgb(80, 80, 80);
}
.DTI
{
    display: flex;
    justify-content: center;
}
#DTI
{
width: 50%;
height: auto;

}
.DTB
{
    color: red;
    border: 0cap;
}